/* 
 * File Name: footer.css
 * Description:  Milestone 1: Responsive Web Pages 
 * Version: 1.0
 * Author: Nur Jamilah
 * Creation Date: 2025-11-25
*/

/* GENERAL STYLING FOR FOOTER */

.site-footer {
    background-color: #222;
    color: #ccc;
    padding: 3rem 5vw 1rem;
}
.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    justify-content: space-between;
    gap: 28px;
    padding-bottom: 2rem;
    border-bottom: 1px solid #444;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column a {
    text-decoration: none;
    color: #ccc;
    display: block;
    padding: 4px 0;
    font-size: 0.9rem;
}

/* STYLE FOR MY WEBSITE PART */

.footer-column h3 {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 1rem;
}
.website-update p {
    font-size: 0.9rem;
    opacity: 0.8;
}

/* STYLE FOR QUICK LINKS TO ID=navLinks */

.quick-links ul {
    list-style: none;
    padding: 0;
}
.quick-links a {
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 2;
    display: block;
}
.quick-links a:hover {
    color: #1DA1F2;;
}

/* STYLE FOR CONTACT LINKS: LINKEDIN, GITHUB, EMAIL */

.contact-links ul {
    list-style: none;
    padding: 0;
}
.contact-links a {
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 2;
    display: block;
}
.contact-links a:hover {
    color: #1DA1F2;
}

/* THE LAST LINE */

.copyright {
    text-align: center;
    margin-top: 1rem;
    font-size: 1rem;
    color: #888;
}