/* 
 * File Name: style-contact.css
 * Description: Module 2 (W3W4): CSS Implementation
 * Version: 1.0
 * Author: Nur Jamilah
 * Creation Date: 2025-11-16
*/

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 'Helvetica Neue', Arial, sans-serif;
    background-color: #f5f5f5;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.site-header {
    background-color: #fff;
    border-bottom: 1px solid #ccc; 
    padding: 0 20px; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; 
    height: 60px; 
}
.contact {
    width: 600px;
    margin-top: 40px auto;
    margin-left: 30%;;
    border-radius: 8px;
    border: 2px solid #ccc;
    background-color: #f2f2f2;
    padding: 40px;
    margin-bottom: 20px;
}
.title  {
    font-size: 28px;
    text-align: center;
    margin: 0;
}
hr {
    margin-bottom: 20px;
}
.form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 16px; 
}
.textarea {
    height: 100px
}
.submit {
    color:white;
    background-color: #0056b3;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
.submit:hover {
    background-color: #333;
}
.back-link  {
    display: block; 
    margin: 0 auto; 
    width: fit-content; 
    color: #0056b3;
    text-decoration: none;
}
.site-footer {
    background-color: #24262b;
    color: #fff;
    padding: 16px 16px;
    margin: 40px 20px 20px;
}
.copyright {
    text-align: center;
    padding: 20px 0;    
    margin: 0;   
}
